body{
  padding-top: 110px;
}

.comWidth{
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 500px){
  .comWidth{
    width: 100%;
    margin: 0 auto;
  }
}

.content{
  padding-top: 20px;
}

.archive{
  height: 200px;
  border: 1px solid #eee;
  cursor: pointer;
  margin-bottom: 30px;
}

.archive:hover{
  box-shadow: 0px 0px 10px grey;
  transition: 0.5s;
}

.archive .left{
  width: 146px;
  float: left;
  padding: 3px;
  background: #333;
  height: 100%;
}

.archive .left .inner{
  border: 1px solid white;
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.archive .left .inner h2{
  margin: 0;
  line-height: 15px;
}

.archive .left .inner h4{
  margin: 5px 0 5px 0;
}

.archive .left .inner .count{
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin: 0 10px;
  padding: 10px 0;
}

.archive .left .inner .count h1{
  font-size: 30px;
  margin: 0;
}

.archive .right{
  width: calc(100% - 146px);
  float: left;
  padding: 20px 10px 20px 20px;
  height: 100%;
  display: block;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archive .right h3{
  margin: 0;
}

.archive .right .title{
  border-top: 1px solid #333;
  font-size: 2.5rem;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  color: #333;
}

.paging {
  list-style: none;
  overflow: hidden;
  margin-top: 30px;
  cursor: pointer;
}

.paging ul{
  padding: 0;
}

.paging ul li{
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  background: white;
  border: 1px solid #333;
  text-align: center;
  margin-right: 20px;
  line-height: 30px;

}
.paging ul li a{
  color: #333;
}

.paging ul .now{
  background: #333;
  color: white;
}

.paging ul .now a{
  color: white;
}
