<!DOCTYPE html>
<html>
  <head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>亿灵软件开发联盟</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <link rel="shortcut icon" href="http://eling.net.cn/assets/i/favicon.ico">
  <link href="<%= prefix %>/assets/static/css/index.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/superagent/3.8.3/superagent.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('./header.html') %>
    <div class="comWidth">
      <!-- 左边的archive列表 -->
      <div class="content am-u-sm-12 am-u-md-8 am-u-lg-8" id="archive">
        <h1>列表</h1>
        <div class="loding" v-if="loading">
          加载中...
        </div>

        <div class="archive" v-for="archive in archives">
          <div class="left">
            <div class="inner">
              <h2>字数</h2>
              <h4>count</h4>
              <div class="count">
                <h1>{{ archive.size }}</h1>
              </div>
            </div>
          </div>
          <a class="right" v-bind:href="'<%= prefix %>/p/' + archive.name" target="_blank">
            <h3>{{ archive.name.replace(/\.md$/, '') }}</h3>
            <div class="breif">
              {{ archive.content }}
            </div>
          </a>
        </div>
        <div class="paging">
          <ul>
            <li v-for="n in totalPage" v-bind:class="{'now': Number(n) === Number(page)}">
              <a v-bind:href="'<%= prefix %>/page=' + n">{{n}}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- 右边的广告列表 -->
      <div class="ad am-u-sm-12 am-u-md-4 am-u-lg-4"></div>
    </div>
    <script src="<%= prefix %>/assets/static/js/markdown.js"></script>
    <script>

      // markdown转html函数
      function markdown2html(text){
        return markdown.toHTML(text);
      }
      
      // 返回当前的页码
      function nowPage(){
        const match = window.location.search.match(/page=([\d]+)/);
        if(match){
          return match[1];
        }else{
          return 1;
        }
      }

      const vue = new Vue({
        el: '#archive',
        data: {
          archives: [],
          loading: true,
          total: 0,
          page: nowPage(),
          totalPage: 0,
        },
        created: function(){
          this.loading = true;
          superagent.get('<%= prefix %>/list')
           .then(result => result.body)
           .then(resp => {
             if(resp.code === 'SUCCESS'){
              this.total = resp.data.total;
              this.totalPage = Math.ceil((this.total / 10));
              this.archives = resp.data.list.map(item => {
                 // 从markdown => html
                 item.content = markdown2html(item.content);
                 // html => text
                 item.content = $(item.content).text();
                 return item;
              });
             }else{
               alert('请求失败');
             }
             this.loading = false;
           });
        }
      });

    </script>
  </body>
</html>